root = true #significa que todo mundo abaixo desse diretorio vao receber as configuracoes

[*] #todos os arquivos
indent_style = space #usar sempre o caracter espaço
indent_size = 2 #tamanho da identacao